# File Java compilati
*.class

# File di progetto specifici di Eclipse
.settings/

# File di log
*.log

# File di backup creati dagli editor
*~

# File dei risultati dei test
*.swp

# Cartella di output dei compilatori Java
bin/

*.classpath

*.project